@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

// 720
// 1024
// 1200
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  background-color: "#914FFD";
  font-family: "Poppins", sans-serif;
}

header {
  top: 40px;
  left: 0;
  // right: 0;
  position: absolute;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;

  @media only screen and (max-width: 1024px) {
  }

  @media only screen and (max-width: 720px) {
    max-width: 100%;
  }

  .login_btn {
    padding: 8px 16px 8px 16px;
    background-color: #fff;
    // height: 39px;
    border-radius: 100px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    border: 1px solid #eee;
  }

  a {
    position: fixed;
    right: 32px;
    border-radius: 100px;
    padding: 0px;

    @media only screen and (max-width: 720px) {
      display: none;
    }

    marquee {
      background-color: #e9fcf4;
      border: 1px solid #d2fae9;
      border-radius: 100px;
      padding-top: 8px;
      padding-bottom: 6px;
      color: #000;

      &:hover {
        background-color: #18b775;
        border: 1px solid #18b775;
        color: #e9fcf4;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.1),
          0 17px 50px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }
}

section {
  top: 0;
  right: 0;
  background-color: #59c384;
  width: 100%;
  padding-top: 100px;

  h1 {
    font-family: inherit;
    font-size: 54px;
    font-weight: 800;
    line-height: 54px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    padding-bottom: 48px;
  }

  .title {
    color: #fff;
    width: 50%;
    text-align: center;
    padding-bottom: 16px;
    padding: 20px;

    @media only screen and (max-width: 720px) {
      width: 100%;
      font-size: 35px;
    }

    // @media only screen and (max-width: 768px) {
    //   width: 50%;
    // }

    @media only screen and (max-width: 1024px) {
      width: 60%;
    }
  }
  .subtitle {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    width: 50%;
    text-align: center;
    opacity: 90%;
  }

  .app-btn {
    padding: 48px;

    @media only screen and (max-width: 720px) {
      display: flex;
      flex-direction: column;
    }

    .btn {
      position: relative;
      padding: 0 10px 0 10px;
      border-radius: 100px;
      color: white;
      font-size: 0px;
      transition: color 0.5s, transform 0.2s;
      outline: none;
      background-color: transparent;

      img:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.1),
          0 17px 50px 0 rgba(0, 0, 0, 0.1);
        border-radius: 100px;
        cursor: progress;
      }
    }
  }

  .app-banner {
    padding-top: 64px;
    padding-bottom: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }
}

.early_signup {
  height: 280px;
  padding: 40px 90px 40px 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  background-image: url("../assets/images/confetti.png");

  p {
    font-size: 22px;
    line-height: 27px;
    color: #000;
    text-align: left;
    padding-bottom: 20px;
  }

  .title {
    color: #1ee592;
    width: 50%;
    text-align: left;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.1rem;
  }

  .success_message {
    color: #6500d3;
    padding: 4px 12px 4px 12px;
    font-size: 13px;
    border-radius: 100px;
    width: auto;
  }
}

.mission_section {
  height: 380px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 720px) {
    max-width: 100%;
    font-size: 28px;
  }

  @media only screen and (max-width: 1024px) {
  }

  .name {
    font-weight: 800;
    font-size: 14px;
    color: #858e9d;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 16px;
  }

  .title {
    color: #1ee592;
    width: 50%;
    text-align: center;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.1rem;
  }
}

.box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // border-top: 1px solid rgb(211, 211, 211);
  // border-bottom: 1px solid rgb(211, 211, 211);
  // max-width: 80%;

  @media only screen and (max-width: 720px) {
    flex-direction: column;
  }
}

.card {
  width: 100%;
  padding: 95px 0;
  text-align: center;
  border-top: 0.1px solid rgb(235, 235, 235);
  border-bottom: 1px solid rgb(235, 235, 235);
  border-right: 1px solid rgb(235, 235, 235);
  // border-left: 1px solid rgb(211, 211, 211);

  &:hover {
    background-color: rgb(248, 248, 248);
    transition: all 250ms ease-out;
  }

  p {
    padding-top: 8px;
  }

  .subtitle {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: #858e9d;
    text-align: center;
  }

  .title {
    font-size: 38px;
    font-weight: 700;
    color: #1c232d;
    text-align: center;
    letter-spacing: -0.1rem;
  }

  .desc {
    font-size: 17px;
    font-weight: 400;
    color: #858e9d;
    text-align: center;
    padding-bottom: 50px;
  }

  .card-btn {
    background-color: #efe5fa !important;
    border: 1px solid #e0ccf6;
    box-sizing: border-box;
    border-radius: 100px;
    color: #6500d3;

    &:hover {
      background-color: #6500d3 !important;
      border: 1px solid #6500d3;
      color: #fff;
      transition: all 250ms ease-out;
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.1),
        0 17px 50px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;

  .subtitle {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: #858e9d;
    text-align: center;
  }

  .title {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    text-align: center;
  }

  .social-box {
    padding: 32px 32px;

    .fa {
      padding: 16px;
      font-size: 24px;
      width: 24px;
      text-align: center;
      text-decoration: none;
      margin: 4px 8px;
      border-radius: 50%;
    }

    .fa:hover {
      background-color: #ebecf0;
      transition: all 300ms ease-in-out;
    }

    a {
      background: #ffffff;
      /* Secondary/Fade II */
      border: 1px solid #ebecf0;
      border-radius: 100px;
      color: #707989;
    }
  }

  img {
    padding-left: 16px;
    padding-right: 16px;
  }

  .team-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 95px;
    bottom: 0;

    @media screen and (max-width: 720px) {
      width: 100%;
      display: block;
    }

    .person {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 280px;

      .tooltip {
        position: relative;
        display: inline-block;
      }

      .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        // bottom: 100%;
        left: 50%;
        // top: -150px;
        margin-left: -60px;
        background-color: red;
      }

      .tooltip:hover .tooltiptext {
        visibility: visible;
      }

      .container {
        // border-radius: 50%;
        // height: 312px;
        -webkit-tap-highlight-color: transparent;
        transform: scale(0.48);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 400px;
      }
      .container:after {
        // background-color: #f2f2f2;
        content: "";
        height: 10px;
        position: absolute;
        top: 390px;
        width: 100%;
      }
      .container:hover {
        transform: scale(0.54);
      }

      .container-inner {
        // clip-path: path(
        //   "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
        // );
        position: relative;
        transform-origin: 50%;
        // top: -200px;
      }
      .circle {
        background-color: #fee7d3;
        border-radius: 50%;
        cursor: pointer;
        height: 380px;
        left: 10px;
        pointer-events: none;
        position: absolute;
        top: 210px;
        width: 380px;
      }

      .img {
        pointer-events: none;
        position: relative;
        transform: translateY(20px) scale(1.15);
        transform-origin: 50% bottom;
        transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .container:hover .img {
        transform: translateY(0) scale(1.2);
      }
      .img1 {
        left: 22px;
        top: 164px;
        width: 340px;
      }
      .img2 {
        left: -46px;
        top: 174px;
        width: 444px;
      }
      .img3 {
        left: -16px;
        top: 144px;
        width: 466px;
      }
      .divider {
        background-color: #ca6060;
        height: 1px;
        width: 160px;
      }

      .name {
        color: #404245;
        font-size: 36px;
        font-weight: 600;
        margin-top: 16px;
        text-align: center;
      }
      .title {
        color: #6e6e6e;
        font-family: arial;
        font-size: 14px;
        font-style: italic;
        margin-top: 4px;
      }
    }
  }
}

.btn {
  position: relative;
  background-color: #3d007f;
  padding: 10px 20px 10px 20px;
  border-radius: 100px;
  color: white;
  font-size: 18px;
  transition: color 0.5s, transform 0.2s;
  outline: none;
  border: 3px solid transparent;

  &:after,
  &:before {
    // border-radius: 3px;
  }
}

.divider-top {
  border-top: 1px solid rgb(211, 211, 211);
}

.divider-bottom {
  border-bottom: 1px solid rgb(211, 211, 211);
}

.divider-right {
  border-right: 1px solid rgb(211, 211, 211);
}
.divider-left {
  border-left: 1px solid rgb(211, 211, 211);
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.fineprint {
  font-size: 12px;
  color: #ccc;
  display: flex !important;

  a {
    color: #ccc;

    &:hover {
      text-decoration: underline;
      color: #858e9d;
    }
  }
}

form {
  display: flex;
  width: 100%;

  input,
  input[type="text"],
  select {
    width: 100%;
    padding: 12px 24px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 100px;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
  }

  input[type="submit"] {
    width: 140px;
    background-color: #efe5fa !important;
    color: #6500d3;
    padding: 10px 20px 10px 20px;
    margin: 8px 20px;
    border: 1px solid #e0ccf6;
    border-radius: 100px;
    cursor: pointer;
    font-size: 18px;
  }

  input[type="submit"]:hover {
    background-color: #6500d3 !important;
    border: 1px solid #6500d3;
    color: #fff;
    transition: all 250ms ease-out;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.1),
      0 17px 50px 0 rgba(0, 0, 0, 0.1);
  }
}

/* Style from mosque page */

.mosque_screen {
  height: 280px;
  padding: 40px 90px 40px 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

/* mosque page form */
.mosque_signup {
  margin: 20px 20px;
  padding: 48px 48px;
  border-radius: 40px;
  width: 375px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.05),
    0 12px 12px 0 rgba(0, 0, 0, 0.01);

  form {
    flex-direction: column !important;
  }
}

/* All the screen re-sized*/

@media only screen and (max-width: 1200px) {
  .container {
    width: 100% !important;

    h1 {
      width: 60% !important;
    }
  }
}
