@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: "#914FFD";
  font-family: "Poppins", sans-serif;
}

header {
  top: 40px;
  left: 0;
  position: absolute;
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

header .login_btn {
  padding: 8px 16px 8px 16px;
  background-color: #fff;
  border-radius: 100px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #333;
  border: 1px solid #eee;
}

header a {
  position: fixed;
  right: 32px;
  border-radius: 100px;
  padding: 0px;
}

header a marquee {
  background-color: #e9fcf4;
  border: 1px solid #d2fae9;
  border-radius: 100px;
  padding-top: 8px;
  padding-bottom: 6px;
  color: #18b775;
}

header a marquee:hover {
  background-color: #18b775;
  border: 1px solid #18b775;
  color: #e9fcf4;
}

section {
  top: 0;
  right: 0;
  background-color: #59c384;
  width: 100%;
  padding-top: 100px;
}

section h1 {
  font-family: inherit;
  font-size: 64px;
  font-weight: 800;
}

section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .logo {
  padding-bottom: 48px;
}

section .title {
  color: #fff;
  width: 50%;
  text-align: center;
  line-height: 68px;
  letter-spacing: -0.1rem;
  padding-bottom: 16px;
}

section .subtitle {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  width: 50%;
  text-align: center;
  opacity: 90%;
}

section .app-btn {
  padding: 48px;
}

section .app-btn .btn {
  position: relative;
  padding: 0 10px 0 10px;
  border-radius: 100px;
  color: white;
  font-size: 0px;
  -webkit-transition: color 0.5s, -webkit-transform 0.2s;
  transition: color 0.5s, -webkit-transform 0.2s;
  transition: color 0.5s, transform 0.2s;
  transition: color 0.5s, transform 0.2s, -webkit-transform 0.2s;
  outline: none;
  background-color: transparent;
}

section .app-banner {
  padding-top: 64px;
  padding-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .app-banner img {
  width: 80%;
}

.mission_section {
  height: 380px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mission_section .name {
  font-weight: 800;
  font-size: 14px;
  color: #858e9d;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 16px;
}

.mission_section .title {
  color: #1ee592;
  width: 50%;
  text-align: center;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.1rem;
}

.box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 100%;
  padding: 95px;
  text-align: center;
  border-top: 0.1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}

.card:hover {
  background-color: #f8f8f8;
}

.card p {
  padding-top: 8px;
}

.card .subtitle {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  color: #858e9d;
  text-align: center;
}

.card .title {
  font-size: 38px;
  font-weight: 700;
  color: #1c232d;
  text-align: center;
  letter-spacing: -0.1rem;
}

.card .desc {
  font-size: 17px;
  font-weight: 400;
  color: #858e9d;
  text-align: center;
  padding-bottom: 50px;
}

.card .card-btn {
  background-color: #efe5fa !important;
  border: 1px solid #e0ccf6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  color: #6500d3;
}

.card .card-btn:hover {
  background-color: #6500d3 !important;
  border: 1px solid #6500d3;
  color: #fff;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 80px;
}

.box .subtitle {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  color: #858e9d;
  text-align: center;
}

.box .title {
  font-size: 28px;
  font-weight: 700;
  color: #1ee592;
  text-align: center;
}

.box .social-box {
  padding: 32px 32px;
}

.box .social-box a {
  background: #ffffff;
  /* Secondary/Fade II */
  border: 1px solid #ebecf0;
  border-radius: 100px;
  color: #707989;
}

.box img {
  padding-left: 16px;
  padding-right: 16px;
}

.box .team-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 95px;
  bottom: 0;
}

.box .team-box li {
  list-style: none;
}

.box .team-box li figure {
  width: 300px;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

.box .team-box li figure:hover,
.box .team-box li span {
  bottom: -36px;
  opacity: 1;
}

.box .team-box li span {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: -1;
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.btn {
  position: relative;
  background-color: #3d007f;
  padding: 10px 20px 10px 20px;
  border-radius: 100px;
  color: white;
  font-size: 18px;
  -webkit-transition: color 0.5s, -webkit-transform 0.2s;
  transition: color 0.5s, -webkit-transform 0.2s;
  transition: color 0.5s, transform 0.2s;
  transition: color 0.5s, transform 0.2s, -webkit-transform 0.2s;
  outline: none;
  border: 3px solid transparent;
}

.divider-top {
  border-top: 1px solid lightgray;
}

.divider-bottom {
  border-bottom: 1px solid lightgray;
}

.divider-right {
  border-right: 1px solid lightgray;
}

.divider-left {
  border-left: 1px solid lightgray;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */