@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: "914FFD";
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 0;
  margin: 0;
  overflow: auto;
}

header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #914ffc;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

header .login_btn {
  padding: 10px;
  background-color: #c7c4cb;
  width: 156px;
  border-radius: 100px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: #6500d3;
}

header .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 10px;
}

header img {
  width: 54px;
  height: 54px;
}

@media only screen and (max-width: 600px) {
  header .logo {
    display: block;
  }
}

section {
  top: 0;
  right: 0;
  background-color: #914ffc;
  width: 100%;
  padding-top: 100px;
}

section h1 {
  font-family: inherit;
  font-size: 48px;
  font-weight: 800;
  text-align: center;
}

section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .title {
  color: #3d007f;
  width: 45%;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  section .title {
    max-width: 100%;
    font-size: 35px;
  }
}

@media only screen and (max-width: 768px) {
  section .title {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  section .title {
    width: 60%;
  }
}

section .subtitle {
  color: #3d007f;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  width: 50%;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  section .subtitle {
    width: 100%;
    font-size: 18px;
  }
}

section .app-btn {
  padding: 30px;
}

section .app-banner {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .app-banner img {
  width: 80%;
}

.mission_section {
  height: 250px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mission_section .name {
  font-weight: 800;
  font-size: 14px;
  color: #858e9d;
  text-align: center;
  text-transform: uppercase;
}

.mission_section .title {
  color: #1ee592;
  width: 70%;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .mission_section .title {
    max-width: 100%;
    font-size: 28px;
  }
}

@media only screen and (max-width: 768px) {
  .mission_section .title {
    max-width: 100%;
  }
}

.box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 600px) {
  .box-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card {
  width: 100%;
  padding: 30px;
  text-align: center;
  border-top: 1px solid rgba(230, 230, 230, 0.591);
  border-bottom: 1px solid rgba(230, 230, 230, 0.591);
  border-right: 1px solid rgba(230, 230, 230, 0.591);
}

.card:hover {
  background-color: rgba(238, 237, 237, 0.187);
}

.card .subtitle {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  color: #858e9d;
  text-align: center;
}

.card .title {
  font-size: 38px;
  font-weight: 700;
  color: #1c232d;
  text-align: center;
}

.card .desc {
  font-size: 17px;
  font-weight: 400;
  color: #858e9d;
  text-align: center;
  padding-bottom: 50px;
}

.card .card-btn {
  background-color: #f5f5f5 !important;
  border: 1px solid #ebecf0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  color: #6500d3;
}

.card .card-btn:hover {
  background-color: #3d007f !important;
  color: #fff;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
}

.box .subtitle {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  color: #858e9d;
  text-align: center;
}

.box .title {
  font-size: 38px;
  font-weight: 700;
  color: #1c232d;
  text-align: center;
}

.box .team-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .box .team-box {
    width: 100%;
    display: block;
  }
}

.box .team-box li {
  list-style: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  max-width: 100%;
}

.box .team-box li .container {
  padding: 0 16px;
}

.box .team-box li .container::after,
.box .team-box li .row::after {
  content: "";
  clear: both;
  display: table;
}

.box .team-box li .title {
  color: grey;
}

.box .team-box li figure {
  width: 300px;
  height: 200px;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

.box .team-box li figure:hover,
.box .team-box li span {
  bottom: -36px;
  opacity: 1;
}

.box .team-box li span {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: -1;
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.btn {
  background-color: #3d007f;
  padding: 10px 20px 10px 20px;
  border-radius: 100px;
  color: #dedede;
  font-size: 18px;
  -webkit-transition: color 0.5s, -webkit-transform 0.2s;
  transition: color 0.5s, -webkit-transform 0.2s;
  transition: color 0.5s, transform 0.2s;
  transition: color 0.5s, transform 0.2s, -webkit-transform 0.2s;
  outline: none;
  border: 3px solid transparent;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: #3d007f84;
  color: #fff;
}

.divider-top {
  border-top: 1px solid lightgray;
}

.divider-bottom {
  border-bottom: 1px solid lightgray;
}

.divider-right {
  border-right: 1px solid lightgray;
}

.divider-left {
  border-left: 1px solid lightgray;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */